{{!< default}}

{{^is "home"}}
    {{> site-nav}}
{{/is}}

<div class="{{post_class}}">
    {{#post}}
        {{> header background=feature_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
            <div class="container">
                <div class="section-header-content page-header-content">
                    <h1 class="title is-size-1">{{title}}</h1>
                </div>
            </div>
        </header>

        <main class="section section-page">
            <div class="container">
                <div class="content post-content" id="post-content">{{content}}</div>
            </div>
        </main>
    {{/post}}

    {{> subscribe-section}}

    {{#site_owner}}
        {{> intro-section}}
    {{/site_owner}}

    <section class="section section-cta">
        <div class="container">
            <div class="content has-text-right">
                <p class="is-size-4"><a href="/start-here" class="button is-medium is-link">No thanks, I'd like to learn more first. →</a></p>
            </div>
        </div>
    </section>
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
    <script>
    $(function() {
        var $postContent = $("#post-content");
        $postContent.fitVids();
    });
    </script>
{{/contentFor}}
